<section class="contact section fadeIn">
  <div class="container">
    <h2 class="h2">get in touch <span class="highlight--blue">with the team.</span></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form class="contact-form">
          <div class="form-group">
            <label class="form-label" for="name">Your Name <span class="highlight--blue">*</span></label>
            <input class="form-control" type="text" name="name" id="name">
          </div><!-- /.form-group -->
          <div class="form-group">
            <label class="form-label" for="email">Your Email <span class="highlight--blue">*</span></label>
            <input class="form-control" type="email" name="email" id="email">
          </div><!-- /.form-group -->
          <div class="form-group">
            <label class="form-label" for="subject">Your Subject <span class="highlight--blue">*</span></label>
            <input class="form-control" type="text" name="subject" id="subject">
          </div><!-- /.form-group -->
          <div class="form-group">
            <label class="form-label" for="message">Your Message <span class="highlight--blue">*</span></label>
            <textarea class="form-control form-control--textarea" name="message" id="message"></textarea>
          </div><!-- /.form-group -->
          <button ui-sref="home" class="btn btn--blue">Send message</button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="map-response">
          <iframe class="map-response__iframe" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d11351.109505516091!2d20.92953625!3d44.6628999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1470758387666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!-- /.map-response -->
        <address class="contact__address">
          Written by <a class="contact-email" href="mailto:webmaster@example.com">Jon Doe</a>.<br>
          Visit us at:<br>
          Example.com<br>
          Box 564, Disneyland<br>
          USA
          <ul class="social-list">
            <li class="social-list__item">
              <i class="fa fa-facebook"></i>
            </li>
            <li class="social-list__item">
              <i class="fa fa-google-plus"></i>
            </li>
            <li class="social-list__item">
              <i class="fa fa-linkedin"></i>
            </li>
          </ul>
          </address>
      </div><!-- /.col -->
    </div><!-- /.flex-row -->
  </div><!-- /.container -->
</section><!-- /.contact -->
