<section class="price section fadeIn">
  <div class="container">
    <h2 class="h2">awesomeness comes <span class="highlight--brown">with a cost.</span></h2>

    <div class="row center-sm">
      <div class="col-xs-12 col-xsp-6 col-sm-4">
        <div class="pricing-plan">
          <div class="pricing-plan__header">
            <h3 class="pricing-plan__title">baby bear</h3>
          </div>
          <div class="pricing-plan__content">
            <h4 class="pricing-plan__price">25</h4>
            <ul class="pricing-plan__features">
              <li class="pricing-plan__feature">1 gb of space</li>
              <li class="pricing-plan__feature">10 gb of bandwidth</li>
              <li class="pricing-plan__feature">3 websites</li>
              <li class="pricing-plan__feature">basic customization</li>
              <li class="pricing-plan__feature">wordpress integration</li>
              <li class="pricing-plan__feature">email support</li>
            </ul>
            <a href="#" class="btn btn--brown">Get started</a>
          </div>
        </div><!-- /.pricing-plan -->
      </div>
      <div class="col-xs-12 col-xsp-6 col-sm-4">
        <div class="pricing-plan">
          <div class="pricing-plan__header pricing-plan__header--coral">
            <h3 class="pricing-plan__title">mama bear</h3>
          </div>
          <div class="pricing-plan__content">
            <h4 class="pricing-plan__price pricing-plan__price--coral">49</h4>
            <ul class="pricing-plan__features">
              <li class="pricing-plan__feature">10 gb of space</li>
              <li class="pricing-plan__feature">50 gb of bandwidth</li>
              <li class="pricing-plan__feature">10 websites</li>
              <li class="pricing-plan__feature">basic customization</li>
              <li class="pricing-plan__feature">wordpress integration</li>
              <li class="pricing-plan__feature">email support</li>
            </ul>
            <a href="#" class="btn btn--coral">Get started</a>
          </div>
        </div><!-- /.pricing-plan -->
      </div>
      <div class="col-xs-12 col-xsp-6 col-sm-4">
        <div class="pricing-plan">
          <div class="pricing-plan__header">
            <h3 class="pricing-plan__title">papa bear</h3>
          </div>
          <div class="pricing-plan__content">
            <h4 class="pricing-plan__price">99</h4>
            <ul class="pricing-plan__features">
              <li class="pricing-plan__feature">100 gb of space</li>
              <li class="pricing-plan__feature">100 gb of bandwidth</li>
              <li class="pricing-plan__feature">unlimited</li>
              <li class="pricing-plan__feature">basic customization</li>
              <li class="pricing-plan__feature">wordpress integration</li>
              <li class="pricing-plan__feature">email support</li>
            </ul>
            <a href="#" class="btn btn--brown">Get started</a>
          </div>
        </div><!-- /.pricing-plan -->
      </div>
    </div><!-- /.fex-row -->
  </div><!-- /.container -->
</section><!-- /.price -->
